.group {
  display: flex;
  justify-content: end;
  align-items: center;
}
.input-group {
  width: 300px;
}
.statu {
  background-color: rgb(124, 123, 123);
  width: 600px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.statu .close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.statu .close i {
  font-size: 30px;
  color: white;
}
.statu form {
  padding: 50px;
  color: white;
}
.statu h6 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  text-align: center;
}
.statu form .form-control {
  padding: 20px 10px;
}
tbody tr td span {
  cursor: pointer;
  padding: 5px 20px;
  color: white;
  border-radius: 20px;
  font-weight: bold;
}
.statu form input {
  padding: 5px 30px;
  border-radius: 15px;
}
.navigations {
  display: flex;
  justify-content: center;
}
.left {
  display: flex;
  align-items: center;
}
.fa-arrows-rotate {
  margin-left: 20px;
  font-size: 25px;
}
.fa-arrows-rotate:hover {
  transition: 0.5s;
  transform: rotate(180deg);
  cursor: pointer;
  opacity: 0.5;
}
.input-group input {
  margin-left: 10px;
}
